variables:
  DOCKER_HOST: tcp://localhost:2375
  DOCKER_DRIVER: overlay2
  CONTAINER_IMAGE: documocracy/newsroom

services:
  - docker:dind

cache:
  key: $CI_PIPELINE_ID
  paths:
    - node_modules

# Build and push single docker image to Docker Hub private repo
build:
  stage: build
  image: docker
  script:
    - docker login -u $CI_REGISTRY_USER -p $CI_REGISTRY_PASSWORD
    - docker pull $CONTAINER_IMAGE:latest || true
    - docker build --cache-from $CONTAINER_IMAGE:latest --tag $CONTAINER_IMAGE:$CI_COMMIT_SHA --tag $CONTAINER_IMAGE:latest .
    - docker push $CONTAINER_IMAGE:$CI_COMMIT_SHA
    - docker push $CONTAINER_IMAGE:latest

# Run test script in all modules using Yarn Workspaces
test:
  stage: test
  image: node:8-alpine
  script:
    - yarn install
    - yarn workspaces run test

# Apply kubernetes deployment and monitor
deploy:
  stage: deploy
  image: bitnami/kubectl
  only:
    - master
  environment:
    name: prototype
  script:
    - kubectl apply --namespace $KUBE_NAMESPACE -f */kube/
    - kubectl rollout --namespace $KUBE_NAMESPACE status -f */kube/deployment.yml